h1 {
    color:aqua
}


.test{
    text-align: center;
}

h2 {
   color:white
}


h2 {
    font-size: 100px;
  }

.test{
    text-align:center ;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #1ec9f4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  
  
  .center {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  a.fixed {

    position: fixed;
    
    right: 0;
    
    top: 0;
    
    width: 500px;
    
    font-size: 45px;
    
    color: aqua;
    }

   
    .side {

      position: fixed;
     
      right: 0;
    
      top: 0;
      
      width: 350px;
    
      font-size: 45px;
      
      color: aqua;

    }

    .nice {

      position: fixed;
     
      right: 0;
    
      top: 0;
      
      width: 175px;
    
      font-size: 45px;
      
      color: aqua;

    }


    a {
      color: #16a085;
      -webkit-transition: color .5s linear;
      -moz-transition: color .5s linear;
      -ms-transition: color .5s linear;
      -o-transition: color .5s linear;
      transition: color .5s linear;
    }
    
    a:hover { color: #636262; }



p {

font-size: 50px;

color: gray;

}

img {
  width: 200px;
  height: 50px;

}


.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  top: 60.5%;
  left: 50%;
  position: absolute;
  font-size: 60px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 330px;
  height: 350px;
}

.centerImg1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  top: 60.5%;
  left: 70%;
  position: absolute;
  font-size: 60px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 250px;
  height: 260px;
}


h3 {

  color: #FFFFFF;
  
  font-size: 50px;

   left: 45%;

   top: 30%;
  
   position: absolute;
  
}


h4 {

  color: #FFFFFF;
  
  font-size: 50px;

   left: 65%;

   top: 28.5%;
  
   position: absolute;
  
}

h5 {

  color: #FFFFFF;
  
  font-size: 50px;

   left: 25%;

   top: 28.5%;
  
   position: absolute;
  
}






.centerImg2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  top: 60.5%;
  left: 30%;
  position: absolute;
  font-size: 60px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 250px;
  height: 260px;
}





h6 {

 color: gray;

 font-size: 40px;

 position: absolute;

 top: 80%;

 left:40%;

}



