

.test{
    text-align: center;
}

h1 {
   color:white

}

h1 {
    font-size: 70px;
  }

.test{
    text-align:center ;
}







.center {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


 
  .fixed {
   
  position: fixed;
  
  right: 0;
  
  top: 0;
  
  width: 500px;
  
  font-size: 45px;
  
  color: aqua;
  }

  
  
    .side {

      position: fixed;
     
      right: 0;
    
      top: 0;
      
      width: 350px;
    
      font-size: 45px;
      
      color: aqua;

    }

      
    .nice {

      position: fixed;
     
      right: 0;
    
      top: 0;
      
      width: 175px;
    
      font-size: 45px;
      
      color: aqua;

    }
    
  

    a {
      color: #16a085;
      -webkit-transition: color .5s linear;
      -moz-transition: color .5s linear;
      -ms-transition: color .5s linear;
      -o-transition: color .5s linear;
      transition: color .5s linear;
    }
    
    a:hover { color: #636262; }

    
     

    img {
      width: 200px;
      height: 50px;
    }
     
    

    .centerImg {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 15%;
      top: 27.5%;
      left: 51%;
      position: absolute;
      font-size: 50px;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }


    p {

      font-size: 50px;
      
      color: gray;
      
      }







